// Colors
//---------------------------------
// https://www.htmlcsscolor.com/hex/334482

// Default

$color-default-black:             #000000;
$color-default-white:             #ffffff;
$color-transparent:               rgba(255, 255, 255, 0);

// Base

$color-tory-blue:                 #334482;
$color-wild-blue-yonder:          #8590ba;
$color-ebony:                     #2b2f3d;
$color-blue-zodiac:               #3d445b;
$color-bunting:                   #313649;
$color-governor-bay:              #475195;


// Viewports
//---------------------------------

$vp--320:                           320px;
$vp--375:                           375px;
$vp--768:                           768px;
$vp--1200:                          1200px;
